<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= bio.personalInfo.name %>'s Bio Data</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <div class="mainBody">
      <section class="details-container" id="pdf-content">
        <article class="details">
          <div class="row">
            <div class="col">
              <div class="center-image">
                <img src="/photos/icon.jpg" alt="God Image" class="lordimage" />
              </div>
            </div>
            <% if (bio.contacts.family || bio.contacts.personal) { %>
            <div class="col">
              <h2>Contact Numbers:</h2>
              <ul>
                <% if (bio.contacts.family) { %>
                <li>
                  <span class="icon"><i class="fas fa-phone"></i></span
                  ><strong>Family: </strong>
                  <a
                    href="tel:<%= bio.contacts.family.number %>"
                    style="color: black; text-decoration: none"
                  >
                    <%= bio.contacts.family.number %>
                  </a>
                </li>
                <% } %> 
                <% if (bio.contacts.personal) { %>
                <li>
                  <span class="icon"><i class="fas fa-phone"></i></span
                  ><strong>Personal: </strong>
                  <a
                    href="tel:<%= bio.contacts.personal.number %>"
                    style="color: black; text-decoration: none"
                  >
                    <%= bio.contacts.personal.number %>
                  </a>
                </li>
                <% } %>
              </ul>
            </div>
            <% } %>
          </div>

          <% if (bio.personalInfo.name || bio.personalInfo.dob || bio.personalInfo.birthTime || bio.personalInfo.weight || bio.personalInfo.height || bio.personalInfo.bloodGroup || bio.personalInfo.complexion || bio.personalInfo.placeOfBirth || bio.personalInfo.maritalStatus) { %>
          <h2>Personal Information:</h2>
          <div class="details-content row">
            <div class="col">
              <ul class="details-list">
                <% if (bio.personalInfo.name) { %>
                <li>
                  <span class="icon"><i class="fas fa-male"></i></span
                  ><strong>Name: </strong>
                  <%= bio.personalInfo.name %>
                </li>
                <% } %>
                <% if (bio.personalInfo.dob) { %>
                <li>
                  <span class="icon"><i class="fas fa-birthday-cake"></i></span
                  ><strong>Date of Birth: </strong>
                  <%= bio.personalInfo.dob %>
                </li>
                <% } %>
                <% if (bio.personalInfo.birthTime) { %>
                <li>
                  <span class="icon"><i class="far fa-clock"></i></span
                  ><strong>Birth Time: </strong>
                  <%= bio.personalInfo.birthTime %>
                </li>
                <% } %>
                <% if (bio.personalInfo.weight) { %>
                <li>
                  <span class="icon"><i class="fas fa-weight"></i></span
                  ><strong>Weight: </strong>
                  <%= bio.personalInfo.weight %>
                </li>
                <% } %>
                <% if (bio.personalInfo.height) { %>
                <li>
                  <span class="icon"><i class="fas fa-arrows-alt-v"></i></span
                  ><strong>Height: </strong>
                  <%= bio.personalInfo.height %>
                </li>
                <% } %>
                <% if (bio.personalInfo.bloodGroup) { %>
                <li>
                  <span class="icon"><i class="fas fa-tint"></i></span
                  ><strong>Blood Group: </strong>
                  <%= bio.personalInfo.bloodGroup %>
                </li>
                <% } %>
                <% if (bio.personalInfo.complexion) { %>
                <li>
                  <span class="icon"><i class="fas fa-palette"></i></span
                  ><strong>Complexion: </strong>
                  <%= bio.personalInfo.complexion %>
                </li>
                <% } %>
                <% if (bio.personalInfo.placeOfBirth) { %>
                <li>
                  <span class="icon"><i class="fas fa-map-marker-alt"></i></span
                  ><strong>Place of Birth: </strong>
                  <%= bio.personalInfo.placeOfBirth %>
                </li>
                <% } %>
                <% if (bio.personalInfo.maritalStatus) { %>
                <li>
                  <span class="icon"><i class="fas fa-heart"></i></span
                  ><strong>Marital Status: </strong>
                  <%= bio.personalInfo.maritalStatus %>
                </li>
                <% } %>
              </ul>
            </div>
            <% if (bio.profileImages) { %>
            <div class="col">
              <div class="center-image-1">
                <img
                  src="/photos/<%= bio.profileImages %>"
                  alt="Profile Image"
                  class="Profile-image"
                />
              </div>
            </div>
            <% } %>
          </div>
          <% } %>

          <% if (bio.professionalInfo.education || bio.professionalInfo.companyName || bio.professionalInfo.occupation || bio.professionalInfo.workLocation) { %>
          <h2>Professional Information:</h2>
          <ul class="details-list">
            <% if (bio.professionalInfo.education) { %>
            <li>
              <span class="icon"><i class="fas fa-graduation-cap"></i></span
              ><strong>Education: </strong>
              <%= bio.professionalInfo.education %>
            </li>
            <% } %>
            <% if (bio.professionalInfo.companyName) { %>
            <li>
              <span class="icon"><i class="fas fa-building"></i></span
              ><strong>Company Name: </strong>
              <%= bio.professionalInfo.companyName %>
            </li>
            <% } %>
            <% if (bio.professionalInfo.occupation) { %>
            <li>
              <span class="icon"><i class="fas fa-briefcase"></i></span
              ><strong>Occupation: </strong>
              <%= bio.professionalInfo.occupation %>
            </li>
            <% } %>
            <% if (bio.professionalInfo.workLocation) { %>
            <li>
              <span class="icon"><i class="fas fa-map-marker-alt"></i></span
              ><strong>Work Location: </strong>
              <%= bio.professionalInfo.workLocation %>
            </li>
            <% } %>
          </ul>
          <% } %>

          <% if (bio.familyInfo.fatherName || bio.familyInfo.fatherOccupation || bio.familyInfo.motherName || bio.familyInfo.grandfather || bio.familyInfo.residentialAddress || bio.familyInfo.village || Object.keys(bio.familyInfo).some(key => key.startsWith('brother') || key.startsWith('sister'))) { %>
          <h2>Family Information:</h2>
          <ul class="family-list">
            <% if (bio.familyInfo.fatherName) { %>
            <li>
              <span class="icon"><i class="fas fa-male"></i></span
              ><strong>Father's Name: </strong>
              <%= bio.familyInfo.fatherName %>
            </li>
            <% } %>
            <% if (bio.familyInfo.fatherOccupation) { %>
            <li>
              <span class="icon"><i class="fas fa-briefcase"></i></span
              ><strong>Occupation: </strong>
              <%= bio.familyInfo.fatherOccupation %>
            </li>
            <% } %>
            <% if (bio.familyInfo.motherName) { %>
            <li>
              <span class="icon"><i class="fas fa-female"></i></span
              ><strong>Mother's Name: </strong>
              <%= bio.familyInfo.motherName %>
            </li>
            <% } %>

            <% if (bio.familyInfo.grandfather) { %>
            <li>
              <span class="icon"><i class="fas fa-user-circle"></i></span
              ><strong>Grandfather: </strong>
              <%= bio.familyInfo.grandfather %>
            </li>
            <% } %>

            <!-- Display Brothers -->
            <% Object.keys(bio.familyInfo).forEach(key => { %>
              <% if (key.startsWith('brother')) { %>
              <li>
                <span class="icon"><i class="fas fa-male"></i></span>
                <strong>Brother:</strong> <%= bio.familyInfo[key].name %> - 
                <%= bio.familyInfo[key].occupation %>, 
                <%= bio.familyInfo[key].maritalStatus %> 
              </li>
              <% } %>
            <% }) %>

            <!-- Display Sisters -->
            <% Object.keys(bio.familyInfo).forEach(key => { %>
              <% if (key.startsWith('sister')) { %>
              <li>
                <span class="icon"><i class="fas fa-female"></i></span>
                <strong>Sister:</strong> <%= bio.familyInfo[key].name %> - 
                <%= bio.familyInfo[key].maritalStatus %> 
              </li>
              <% } %>
            <% }) %>

            <% if (bio.familyInfo.residentialAddress) { %>
            <li>
              <span class="icon"><i class="fas fa-map-marker-alt"></i></span
              ><strong>Residential Address: </strong>
              <%= bio.familyInfo.residentialAddress %>
            </li>
            <% } %>
            <% if (bio.familyInfo.village) { %>
            <li>
              <span class="icon"><i class="fas fa-home"></i></span
              ><strong>Village: </strong>
              <%= bio.familyInfo.village %>
            </li>
            <% } %>
          </ul>
          <% } %>

          <% if (bio.preferences.gotra || bio.preferences.education || bio.preferences.occupation || bio.preferences.salary || bio.preferences.location || bio.preferences.dowry) { %>
          <h2>Partner Preferences:</h2>
          <ul class="details-list">
            <% if (bio.preferences.gotra) { %>
            <li>
              <span class="icon"><i class="fas fa-users"></i></span
              ><strong>Gotra: </strong>
              <%= bio.preferences.gotra %>
            </li>
            <% } %>
            <% if (bio.preferences.education) { %>
            <li>
              <span class="icon"><i class="fas fa-graduation-cap"></i></span
              ><strong>Education: </strong>
              <%= bio.preferences.education %>
            </li>
            <% } %>
            <% if (bio.preferences.occupation) { %>
            <li>
              <span class="icon"><i class="fas fa-briefcase"></i></span
              ><strong>Occupation: </strong>
              <%= bio.preferences.occupation %>
            </li>
            <% } %>
            <% if (bio.preferences.salary) { %>
            <li>
              <span class="icon"><i class="fas fa-money-bill"></i></span
              ><strong>Salary: </strong>
              <%= bio.preferences.salary %>
            </li>
            <% } %>
            <% if (bio.preferences.location) { %>
            <li>
              <span class="icon"><i class="fas fa-map-marker-alt"></i></span
              ><strong>Location: </strong>
              <%= bio.preferences.location %>
            </li>
            <% } %>
            <% if (bio.preferences.dowry) { %>
            <li>
              <span class="icon"><i class="fas fa-gift"></i></span
              ><strong>Dowry: </strong>
              <%= bio.preferences.dowry %>
            </li>
            <% } %>
          </ul>
          <% } %>

          <% if (bio.extraImages && bio.extraImages.length > 0) { %>
            <h2>Extra Images:</h2>
            <div class="gallery-container">
              <% bio.extraImages.forEach(image => { %>
                <div class="gallery-item">
                  <img src="/photos/<%= image.originalname %>" alt="Extra Image" class="gallery-image" />
                </div>
              <% }) %>
            </div>
          <% } %>
          
                
        </article>
      </section>
      <div class="footer">
        <button id="download-pdf" onclick="downloadAsPDF()">
          Download as PDF
        </button>
      </div>
    </div>
    <script>
      function downloadAsPDF() {
        const element = document.getElementById("pdf-content");
        const options = {
          margin: [1, 1, 1, 1],
          filename: "<%= bio.personalInfo.name %>_Bio_Data.pdf",
          image: { type: "jpeg", quality: 0.98 },
          html2canvas: {
            scale: 2,
            allowTaint: false,
            imageTimeout: 1500,
            logging: true,
            useCORS: false,
          },
          jsPDF: { unit: "cm", format: "a4", orientation: "portrait" },
        };

        html2pdf()
          .from(element)
          .set(options)
          .toPdf()
          .get("pdf")
          .then(function (pdf) {
            const pageHeight = pdf.internal.pageSize.height * 2;
            const contentHeight = element.offsetHeight * 2;
            const scale = Math.min(pageHeight / contentHeight, 1);

            if (scale < 1) {
              pdf.internal.scaleFactor = scale;
            }

            pdf.save(options.filename);
          });
      }
    </script>
  </body>
</html>
